.admission-page {
  min-height: 100vh;
   background: linear-gradient(
    rgba(198, 207, 199, 0.7),
    rgba(161, 155, 64, 0.7)
  );
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admission-title {
  font-size: 2rem;
  color: #131413;
  margin-bottom: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.admission-form {
  background: #fdfcfd;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.admission-form label {
  font-weight: 500;
  color: #333;
  margin-bottom: 0.2rem;
}

.admission-form input,
.admission-form select,
.admission-form textarea {
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s;
}

.admission-form input:focus,
.admission-form select:focus,
.admission-form textarea:focus {
  border: 1px solid #2e7d32;
}

.submit-btn {
  padding: 0.9rem;
  background: olive;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-btn:hover {
  background: #2e7d32;
}
